name: Build and Delivery

on:
  workflow_run:
    workflows: ["Test Python App"]
    types: [completed]
    branches:
      - main

jobs:
  cd:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Debug - Show secrets (masked)
        run: |
          echo "DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}"
          echo "Token exists: ${{ secrets.DOCKERHUB_TOKEN != '' }}"
          echo "Token length: ${#DOCKERHUB_TOKEN}"

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/my-app:latest
            ${{ vars.DOCKERHUB_USERNAME }}/my-app:${{ github.sha }}
